#main img{
  margin: 0px;
}
.slider-picture{
      width: 100%;
      height: inherit !important;
}
.swiper {
  width: 100%;
  height: 100%;
  margin-bottom: 20px;
}

div:has(> .swiper-slide){
  margin-bottom: 20px;
}

.swiper-wrapper{
  margin-bottom: 0 !important;
}

div:has(> .swiper-wrapper){
  margin-bottom: 20px;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  height: auto !important;
  width: 375px;
}

.swiper-slide picture {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.pic {
  padding-top: 65.3646%;
  overflow: hidden;
  border-style: none;
  display: block;
  position: relative;
}
.swiper-button-prev,
.swiper-button-next {
  background: #fff;
  border: 1px solid #949494;
  border-radius: 50%;
  width: 42px !important;
}
.swiper-button-prev:after,
.swiper-button-next:after {
  font-size: 10px !important;
  color: #3643ba;
  font-weight: 800;
}
@media only screen and (max-width: 767px) {
  .swiper-button-prev,
  .swiper-button-next {
    display: none !important;
  }
}
