 #content > div > div > section > div{
        max-width: 100% !important;
    }
    
    .elementor-column-wrap.elementor-element-populated{
        padding: 0 !important;
    }
    
    #content{
        margin: 0 !important;
    }
    
    #main > .container{
        margin: 0 !important;
        padding: 0 !important;
        width: 100%;
    }

    .elementor-section.elementor-section-boxed>.elementor-container{
       max-width: 100% !important;
    }

    @media (min-width: 600px) {
        #ZA_body_fix {
            margin: 1rem max(10px, 2vw);
            padding: 0px !important;
        }
    }
        
    @media screen and (min-width: 900px) {
        #ZA_body_fix {
             max-width: 1700px;
             margin: 1rem auto;
             padding: 0 max(10px, 2vw);
             padding: 0px !important;
         }
      }
      @media screen and (min-width: 1700px) {
         #ZA_body_fix {
             max-width: 1700px;
             margin: 1rem auto;
             padding: 0 max(10px, 2vw);
             padding: 0px !important;
          }
      }
